<template>
  <div class="home">
    <div class="nav">
      <nav-buttons :options="typeList" v-model="activeBtn" />
    </div>
    <div class="diagram" v-if="items.length > 0">
      <div class="diagram_select">
        <select-component :options="dateFromList" v-model="setDateFrom" />
        <select-component :options="dateToList" v-model="setDateTo" />
      </div>
      <div class="graphics">
        <graphics :items="items" />
      </div>
    </div>
  </div>
</template>

<script>
import Worker from "worker-loader!../filer/filter.worker.js";
const WORKER = new Worker();
const TYPES = ["temperature", "precipitation"];
import { http } from "../axios.config";
export default {
  name: "Home",
  components: {
    selectComponent: () => import("../components/selectComponent"),
    navButtons: () => import("../components/navButtons"),
    Graphics: () => import("../components/graphics")
  },
  data: () => ({
    active: TYPES[0],
    dateList: [],
    dateFrom: "",
    dateTo: "",
    calculatedData: []
  }),
  mounted() {
    const _self = this;
    WORKER.addEventListener(
      "message",
      function({ data }) {
        switch (data.type) {
          case "init":
            _self.setDateList(data.data);
            break;
          case "filter":
            _self.calculatedData = data.data;
            break;
        }
      },
      false
    );
  },
  created() {
    this.activeBtn = this.typeList[0];
  },
  beforeDestroy() {
    WORKER.terminate();
  },
  computed: {
    typeList: () => TYPES,
    activeBtn: {
      get() {
        return this.active;
      },
      set(value) {
        this.active = value;
        this.loan(value);
      }
    },
    setDateFrom: {
      get() {
        return this.dateFrom;
      },
      set(value) {
        const val = parseInt(value);
        this.dateFrom = val;
        WORKER.postMessage({
          type: "filter",
          from: val,
          to: this.setDateTo
        });
      }
    },
    setDateTo: {
      get() {
        return this.dateTo;
      },
      set(value) {
        const val = parseInt(value);
        this.dateTo = val;
        WORKER.postMessage({
          type: "filter",
          from: this.setDateFrom,
          to: val
        });
      }
    },
    dateFromList: function() {
      return this.dateList.filter(i => i <= this.dateTo);
    },
    dateToList: function() {
      return this.dateList.filter(i => i >= this.dateFrom);
    },
    items: function() {
      return this.calculatedData;
    }
  },
  methods: {
    loan(type) {
      http.get(type).then(response => {
        WORKER.postMessage({ type: "init", data: response.data });
      });
    },
    setDateList(arr) {
      const dFrom = arr[0];
      const dTo = arr[arr.length - 1];
      this.dateList = arr;
      this.dateFrom = dFrom;
      this.dateTo = dTo;
      WORKER.postMessage({ type: "filter", from: dFrom, to: dTo });
    }
  }
};
</script>

<style lang="scss" scoped>
.home {
  width: 920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 80%;

  & .nav {
    padding: 0 15px;
  }

  & .diagram {
    & .diagram_select {
      width: calc(100% - 80px);
      display: grid;
      grid-template-columns: 1fr 1fr;

      & select {
        &:first-child {
          margin-right: 5px;
        }
        &:last-child {
          margin-left: 5px;
        }
      }
    }
    & .graphics {
      width: 100%;
    }
  }
}
</style>
