<template>
  <svg ref="svg" viewBox="0 0 800 300">
    <linearGradient id="gradient-horizontal" x2="0" y2="1">
      <stop offset="0%" stop-color="var(--color-stop-1)" />
      <stop offset="100%" stop-color="var(--color-stop-2)" />
    </linearGradient>
    <line
      v-for="(item, index) in 4"
      :key="index + Math.random()"
      :x1="0"
      :y1="index * (boxHeight / 3) + 6"
      :x2="boxWidth"
      :y2="index * (boxHeight / 3) + 6"
      stroke="#F2F2F2"
    />
    <g>
      <path class="linerBg" :d="b" stroke="red" stroke-width="0" opacity="1" />
    </g>
    <polyline :points="someBody" style="fill:none;stroke:#000;stroke-width:3" />
    <circle
      v-for="(item, index) in dots"
      :key="index + Math.random()"
      :cx="item.x"
      :cy="item.y"
      r="3"
      fill="#000"
    />
    <text
      v-for="(item, index) in 4"
      :key="index + Math.random()"
      font-size="12"
      alignment-baseline="hanging"
      text-anchor="end"
      :x="width"
      :y="index * (boxHeight / 3)"
      fill="#000"
    >
      {{ (maxRate - points * index).toFixed(2) }}
    </text>
    <text
      v-for="(item, index) in sortFromDate"
      :key="index + Math.random()"
      font-size="12"
      text-anchor="middle"
      :x="index * (boxWidth / sortFromDate.length) + widthStart"
      :y="height"
      fill="#000"
      v-html="item.d ? item.d : item.y"
    ></text>
    <rect
      v-for="(item, index) in items.length"
      :key="index"
      :x="
        widthStart +
          (boxWidth / items.length) * index -
          boxWidth / items.length / 2
      "
      y="0"
      :width="boxWidth / items.length"
      :height="boxHeight"
      fill="rgba(0,0,0,0)"
    />
  </svg>
</template>

<script>
export default {
  name: "graphics",
  data: () => ({
    height: 300,
    width: 750,
    boxHeight: 260,
    boxWidth: 700,
    widthStart: 30,
    b: ""
  }),
  computed: {
    maxRate() {
      return Math.ceil(
        Math.max.apply(
          null,
          this.items.map(i => i.v)
        )
      );
    },
    minRate() {
      return Math.floor(
        Math.min.apply(
          null,
          this.items.map(i => i.v)
        )
      );
    },
    points() {
      return (this.maxRate - this.minRate) / 3;
    },
    sortFromDate() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.items.sort((a, b) => a.y - b.y);
    },
    some() {
      return this.boxHeight / (this.maxRate - this.minRate);
    },
    someBody() {
      let a = this.items.map((item, index) => {
        return `${index * (this.boxWidth / this.sortFromDate.length) +
          this.widthStart},${(this.maxRate - item.v) * this.some + 6}`;
      });
      return a.join(" ");
    },
    dots() {
      if (this.items.length > 0) {
        let a = this.items.map((item, index) => {
          return {
            x:
              index * (this.boxWidth / this.sortFromDate.length) +
              this.widthStart,
            y: (this.maxRate - item.v) * this.some + 6
          };
        });
        let b = a.map(i => `${i.x} ${i.y}`);
        b[0] = "M " + b[0];

        b.push(
          `${a[a.length - 1].x} ${this.boxHeight} L ${this.widthStart} ${
            this.boxHeight
          } L ${this.widthStart} ${a[0].y}`
        );
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.b = b.join(" L ");
        return a;
      } else {
        return null;
      }
    }
  },
  props: {
    items: {
      type: Array,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.graphics {
  svg {
    width: 100%;
    height: auto;

    #gradient-horizontal {
      --color-stop-1: #fff;
      --color-stop-2: #fff;
    }

    .linerBg {
      fill: url(#gradient-horizontal) gray;
      opacity: 0.12;
    }
  }
}
</style>
