<template>
  <div>
    <button
      v-for="(item, index) in options"
      :key="index"
      :class="['nav_item', { active: item === modelData }]"
      v-html="item"
      @click="modelData = item"
    ></button>
  </div>
</template>

<script>
export default {
  name: "navButtons",
  model: {
    prop: "stateValue",
    event: "change"
  },
  props: {
    options: {
      type: Array,
      required: true
    },
    stateValue: {
      type: [String, Number],
      required: true
    }
  },
  computed: {
    modelData: {
      get() {
        return this.stateValue;
      },
      set(value) {
        this.$emit("change", value);
      }
    }
  }
};
</script>

<style scoped lang="scss">
button {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  text-transform: capitalize;
  border: none;
  cursor: pointer;

  &.active {
    background: green;
    color: #ffffff;
  }

  &:focus {
    outline: none;
  }
}
</style>
