<template>
  <select v-model="modelData">
    <option
      v-for="(date, index) in options"
      :key="index"
      v-html="date"
    ></option>
  </select>
</template>

<script>
export default {
  name: "selectComponent",
  model: {
    prop: "stateValue",
    event: "change"
  },
  props: {
    options: {
      type: Array,
      required: true
    },
    stateValue: {
      type: [String, Number],
      required: true
    }
  },
  computed: {
    modelData: {
      get() {
        return this.stateValue;
      },
      set(value) {
        this.$emit("change", value);
      }
    }
  }
};
</script>

<style scoped></style>
